<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products">
            </div>
            <span class="fas fa-search search-icon"></span>
        </div>
        <button routerLink="/cart" class="btn btn-primary">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
        </button>
    </div>
</header>
<div class="container">
<h6>Package List</h6>
<form>
<div class="overflow-auto p-3 bg-light"
  style=" max-height: 150px;">
  <table class="table table-responsive">
    <thead>
        <tr>
            <th>ID</th>
            <th>PAckage Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr  class="pn" *ngFor="let p of allpackages">
            <td>{{p.id}}</td>
             <td>{{p.name}}</td>

            <td>
                <button class="btn btn-primary" (click)=addtocart(item)>select</button>

            </td>
        </tr>
    </tbody>
</table>
<!-- <div class="pn" *ngFor="let p of allpackages">
    <input type="radio" name="package" value="{{p.name}}" select ="true" >{{p.name}} &nbsp; <button class="btn btn-primary" (click)=addtocart(item)>Add to cart</button>
</div> -->
 </div>
</form>
<div>
<p><label >Why is this fav? * </label></p>
  <textarea id="w3review" name="w3review" rows="4" cols="50" required></textarea>
  <br>
  <input type="submit" routerLink="/cart" value="Submit">
</div>
</div>

